{# templates/profile/change_password.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le mot de passe</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Modifier le mot de passe</button>
    {{ form_end(form) }}
{% endblock %}
