{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
{% endblock %}
{% block title %}Edit UserReport{% endblock %}

{% block body %}
    <h1>Edit UserReport</h1>

    {{ include('admin/admin_report/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_report_index') }}">back to list</a>

{% endblock %}
