{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
    {% endblock %}

{% block title %}Edit Card{% endblock %}

{% block body %}
    <h1>Edit Card</h1>

    {{ include('admin/admin_card/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_card_index') }}">back to list</a>

{% endblock %}
