<h1>Bonjour, c'est Samuel de Footix !</h1>

<p>Tu as effectué une demande de réinitialisation de ton mot de passe.
Pour réinitialiser ton mot de passer suis le lien suivant : </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Sportivement !</p>
