.autocomplete {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}
.autocomplete input {
    width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.autocomplete .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    max-height: 200px;
    overflow-y: auto;
    z-index: 99;
    background-color: #fff;
    width: 100%
}
.autocomplete .autocomplete-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.club-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}
.autocomplete .autocomplete-item:hover {
    background-color: #e9e9e9;
}
.autocomplete-item span {
    font-size: 16px;
}
@media (max-width: 768px) {
    .autocomplete {
        width: 100%;
    }
    .autocomplete input {
        width: 100%; /* Prend toute la largeur disponible */
        font-size: 14px; /* Réduit la taille de la police pour une meilleure lisibilité */
    }
    .autocomplete .autocomplete-items {
        max-height: 150px; /* Ajuste la hauteur pour mieux s'adapter aux petits écrans */
    }
    .autocomplete .autocomplete-item {
        padding: 8px; /* Réduit légèrement l'espace autour des éléments */
    }
    .club-logo {
        width: 30px; /* Réduit la taille du logo pour s'adapter à l'espace plus restreint */
        margin-right: 8px;
    }
    .autocomplete-item span {
        font-size: 14px; /* Réduit la taille du texte pour une meilleure adaptation */
    }
}
