/* .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    position: relative;
    width: 400px;
    height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding-bottom: 20px;
    z-index: 2;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card h1 {
    font-size: 24px;
    margin: 0 0 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-description {
    font-size: 16px;
    margin: 0 0 10px;
    color: #828281;
}

.card-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C8A764;
    color: #131313;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */

/* .card {
    width: 270px;
    height: 302px;
    flex-shrink: 0;
    border: 2px solid #1C1D22;
    background: #EDEDED;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card img {
    width: 218px;
    height: 178px;
    flex-shrink: 0;
}
.card-link {
    display: flex;
    width: 114px;
    height: 27px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #C8A764;
}
.card h1 {
    color: #201A0F;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.926%;
}
.card-description {
    color: #464644;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.926%; 
} */
.main-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    padding: 20px; /* Optionnel : ajoute de l'espace autour du contenu */
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes de largeur égale */
    gap: 150px; /* Espace entre les cartes */
    padding: 20px;  
}

.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid #717070;
}

.card img {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #717070;
    object-fit: contain;
}

.card-content {
    background: #f7f6f0;
    padding: 20px;
    color: #C8A764;
    text-align: center;
    flex-grow: 1;
    color: #C8A764;
}

.card h1 {
    margin: 0;
    font-size: 1.5em;
}

.card-description {
    margin: 10px 0;
    font-size: 1em;
}

.card-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #C8A764;
    color: #131313;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-link:hover {
    background-color: #131313;
    color: #C8A764;
}
