.page-title {
    text-align: center;
    font-size: 36px; /* Ajustez selon vos préférences */
    margin: 30px 0;
    color: #131313; /* Couleur du texte du titre */
  }
  
  /* Style pour la catégorie du forum */
  .forum-category {
    display: flex;
    flex-direction: column; /* Pour que les boutons soient empilés verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    margin-top: 20px; /* Espacement au-dessus des boutons */
  }
  
  .forum-category ul {
    list-style: none; /* Supprime les puces des listes */
    padding: 0;
    margin: 0;
  }
  
  .forum-category li {
    margin: 15px 0; /* Espacement entre les boutons */
  }
  
  .forum-category a {
    display: block;
    width: 250px; /* Fixe une largeur uniforme pour tous les boutons, ajustez selon vos préférences */
    padding: 15px;
    font-size: 18px; /* Ajustez la taille de la police selon vos préférences */
    text-align: center;
    text-decoration: none;
    background-color: #C8A764; /* Couleur de fond initiale */
    color: #131313; /* Couleur du texte initiale */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s, color 0.3s; /* Effet de transition pour les changements */
  }
  
  .forum-category a:hover, 
  .forum-category a:focus {
    background-color: #131313; /* Couleur de fond au survol */
    color: #C8A764; /* Couleur du texte au survol */
    text-decoration: none; /* Retire la décoration du texte au survol */
  }
  
  .forum-category a:active {
    background-color: #a17740; /* Couleur de fond lors du clic (optionnel) */
    color: #131313; /* Couleur du texte lors du clic (optionnel) */
  }
  