form.delete-form {
    max-width: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    display: inline;
}

form.delete-form button {
    padding: 0;
    background-color: transparent;
    color: #C8A764;
    border: none;
    cursor: pointer;
    transition: none;
    display: inline;
    margin: 0;
}

form.delete-form button:hover {
    background-color: transparent;
    color: #131313;
}


.form-title {
    color: #C8A764;
    display: flex;
    justify-content: center;
    }
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    }
label {
    display: block;
    margin-bottom: 8px;
    color: #333333;
    }
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #fcf7ed;}
textarea {
    resize: vertical;
}
form button {
    padding: 0.75rem 1.5rem;
    background-color: #C8A764;
    color: #131313;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto; /* Centre le bouton horizontalement */
}
form button:hover {
    background-color: #131313;
    color: #C8A764;
} 
/* Styles pour les boutons et le lien */
form a.reset {
    display: block; /* Les éléments seront sur des lignes distinctes */
    width: fit-content; /* Ajuste la largeur du lien au contenu */
    padding: 0.75rem 1.5rem;
    border: none;
    color: #131313;
    border-radius: 8px;
    text-align: center; /* Centre le texte à l'intérieur du bouton/lien */
    text-decoration: none; /* Enlève le soulignement du lien */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px auto; /* Ajoute de l'espace autour et centre le lien/bouton */
}
.change-password {
    display: block; /* Les éléments seront sur des lignes distinctes */
    width: fit-content; /* Ajuste la largeur du lien au contenu */
    padding: 0.75rem 1.5rem;
    border: none;
    color: #131313;
    border-radius: 8px;
    text-align: center; /* Centre le texte à l'intérieur du bouton/lien */
    text-decoration: none; /* Enlève le soulignement du lien */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px auto; /* Ajoute de l'espace autour et centre le lien/bouton */
}