/* Conteneur des matches */
.matches-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre des matches */
.matches-section h2 {
  font-size: 24px;
  color: #131313;
  text-align: center;
  margin-bottom: 20px;
}

/* Liste des matches */
.matches-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.matches-section li {
  display: grid;
  grid-template-columns: 1fr 150px 1fr; /* Trois colonnes avec une largeur fixe pour la colonne du score */
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #C8A764;
}

.matches-section li:last-child {
  border-bottom: none;
}

/* Conteneur de chaque équipe */
.matches-section .team {
  display: flex;
  align-items: center;
  justify-content: center;
}

.matches-section .team img {
  width: 30px; /* Ajustez la taille des logos */
  height: auto;
  margin-right: 10px;
}

.matches-section .team-name {
  font-size: 18px;
  color: #131313;
  white-space: nowrap;
}

/* Alignement du score */
.matches-section .score {
  font-size: 18px;
  color: #131313;
  text-align: center;
  /* Pas de flex: 1 ici car nous utilisons grid pour la disposition */
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #C8A764;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #131313;
  color: #C8A764;
}

.pagination-current {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #fff;
  color: #131313;
  border: 1px solid #C8A764;
  border-radius: 4px;
}

/* Responsivité pour les petits écrans */
@media screen and (max-width: 768px) {
  .matches-section {
      padding: 10px;
  }

  .matches-section li {
      grid-template-columns: 1fr; /* En colonne unique sur petits écrans */
      grid-template-areas:
        "team-home"
        "score"
        "team-away";
      align-items: start;
  }

  .matches-section .team {
      justify-content: center;
  }

  .matches-section .score {
      margin: 10px 0;
  }

  .pagination {
      flex-direction: column;
  }

  .pagination-button, .pagination-current {
      margin: 5px 0;
  }
}
