/* Conteneur des matches */
.matches-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre des matches */
.matches-section h2 {
  font-size: 24px;
  color: #131313;
  text-align: center;
  margin-bottom: 20px;
}

/* Liste des matches */
.matches-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.matches-section li {
  display: grid;
  grid-template-columns: 1fr 150px 1fr; /* Trois colonnes avec une largeur fixe pour la colonne du score */
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #C8A764;
}

.matches-section li:last-child {
  border-bottom: none;
}

/* Conteneur de chaque équipe */
.matches-section .team {
  display: flex;
  align-items: center;
  justify-content: center;
}

.matches-section .team img {
  width: 30px; /* Ajustez la taille des logos */
  height: auto;
  margin-right: 10px;
}

.matches-section .team-name {
  font-size: 18px;
  color: #131313;
  white-space: nowrap;
}

/* Alignement du score */
.matches-section .score {
  font-size: 18px;
  color: #131313;
  text-align: center;
  /* Pas de flex: 1 ici car nous utilisons grid pour la disposition */
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #C8A764;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #131313;
  color: #C8A764;
}

.pagination-current {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #fff;
  color: #131313;
  border: 1px solid #C8A764;
  border-radius: 4px;
}
/* Styles pour le conteneur du sélecteur de journée */
/* Styles pour le conteneur du sélecteur de journée */
.matchday-selector {
  margin: 20px auto; /* Ajoute de l'espace autour du sélecteur */
  text-align: center; /* Centre le contenu du sélecteur */
  padding: 10px; /* Ajoute du padding pour plus de confort */
  background-color: #fcf7ed; /* Couleur de fond légère pour le conteneur */
  border-radius: 8px; /* Coins arrondis pour le conteneur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère autour du conteneur */
}

/* Styles pour le label du sélecteur de journée */
.matchday-selector label {
  display: block; /* Affiche le label sur une ligne distincte */
  margin-bottom: 8px; /* Ajoute un espace sous le label */
  font-size: 16px; /* Taille de la police pour le label */
  color: #131313; /* Couleur du texte */
  font-weight: bold; /* Met le label en gras pour plus de visibilité */
}

/* Styles pour le sélecteur */
.matchday-selector select {
  padding: 8px 12px; /* Padding interne pour le sélecteur */
  border: 1px solid #C8A764; /* Bordure colorée pour correspondre au thème */
  border-radius: 4px; /* Coins arrondis pour le sélecteur */
  background-color: #fff; /* Couleur de fond du sélecteur */
  color: #131313; /* Couleur du texte dans le sélecteur */
  font-size: 16px; /* Taille de la police pour le texte dans le sélecteur */
  font-family: 'Arial', sans-serif; /* Police pour le texte */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Effets de transition pour la bordure et l'ombre */
}

/* Styles pour le sélecteur au survol et lorsqu'il est actif */
.matchday-selector select:focus {
  border-color: #131313; /* Changement de la couleur de la bordure au focus */
  outline: none; /* Supprime le contour par défaut */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre légère au focus pour effet de profondeur */
}

/* Styles pour les options dans le sélecteur */
.matchday-selector option {
  padding: 10px; /* Padding interne pour les options */
  background-color: #fff; /* Couleur de fond des options */
  color: #131313; /* Couleur du texte dans les options */
}

/* Styles pour le sélecteur au survol des options */
.matchday-selector option:hover {
  background-color: #C8A764; /* Couleur de fond au survol des options */
  color: #fff; /* Couleur du texte au survol des options */
}

/* Responsivité pour les petits écrans */
@media screen and (max-width: 768px) {
  .matches-section {
      padding: 10px;
  }

  .matches-section li {
      grid-template-columns: 1fr; /* En colonne unique sur petits écrans */
      grid-template-areas:
        "team-home"
        "score"
        "team-away";
      align-items: start;
  }

  .matches-section .team {
      justify-content: center;
  }

  .matches-section .score {
      margin: 10px 0;
  }

  .pagination {
      flex-direction: column;
  }

  .pagination-button, .pagination-current {
      margin: 5px 0;
  }
}
.live-indicator {
  color: green;
  font-weight: bold;
    font-size: 1.5em; /* Ajustez la taille selon vos besoins */
    line-height: 0; /* Pour bien centrer le point verticalement */
    margin-left: 5px;
    animation: blink 1s linear infinite;
  }


@keyframes blink {
  30% {
      opacity: 0;
  }
}
