@import 'variables.css';

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.pagination a,
.pagination span {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: #2e3136;
    text-decoration: none;
    border: 1px solid gainsboro;
    transition: background-color 0.3s ease;
}
.pagination a:hover,
.pagination span:hover {
    background-color: #2e3136;
    color: #fff;
}
.pagination .current {
    background-color: #2e3136;
    color: #fff;
}
  
.page-title {
    text-align: center;
    margin: 2rem 0;
}
  