{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
     <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}
{% block title %}Nouveau contact{% endblock %}

{% block body %}
    <h1>Créer un nouveau Contact</h1>
    <div class="create-new-container">
    <a href="{{ path('app_admin_contact_index') }}" class="create-new-link">Retour à la liste</a>
    </div>
    {{ include('admin/admin_contact/_form.html.twig') }}
{% endblock %}
