<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('asset/style.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/navigation.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/footer.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
            const burger = document.querySelector('.burger');
            const navLinks = document.querySelector('.nav-links');

            burger.addEventListener('click', () => {
            navLinks.classList.toggle('active');
            burger.classList.toggle('toggle');
    });
});


        </script>
        {% endblock %}
    </head>
    <body>
    {% block nav %}
            {% set unreadMessagesCount = unread_messages_count() %}
            {% include "layout/menu_top.twig"   %}
    {% endblock %}

        {% block body %}
        {% endblock %}

    {% block footer %}
            {% include "layout/menu_bottom.twig"   %}
    {% endblock %}
    </body>
</html>
