{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
{% endblock %}
{% block title %}New Post{% endblock %}

{% block body %}
    <h1>Create new Post</h1>

    {{ include('admin/admin_post/_form.html.twig') }}

    <a href="{{ path('app_admin_post_index') }}">back to list</a>
{% endblock %}
