{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}
{% block title %}Nouveau post{% endblock %}

{% block body %}
    <h1>Créer un nouveau post</h1>
    <div class="create-new-container">
    <a href="{{ path('app_admin_post_index') }}" class="create-new-link">Retour à la liste</a>
    </div>
    {{ include('admin/admin_post/_form.html.twig') }}

{% endblock %}
