{% extends 'base.html.twig' %}

{% block title %}Edit UserBanned{% endblock %}

{% block body %}
    <h1>Edit UserBanned</h1>

    {{ include('admin_banned/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_banned_index') }}">back to list</a>

    {{ include('admin_banned/_delete_form.html.twig') }}
{% endblock %}
