{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
{% endblock %}
{% block title %}New UserBanned{% endblock %}

{% block body %}
    <h1>Create new UserBanned</h1>

    {{ include('admin_banned/_form.html.twig') }}

    <a href="{{ path('app_admin_banned_index') }}">back to list</a>
{% endblock %}
